<div align="center" style="color:red"><% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%></div>

<br><br>    
<%= form_for(:article, :url => {:action => "create"}) do |f| %> 
  <table align = center>
    <tr><th>Title:</th>
    <td><%= f.text_field :title %></td></tr>
    <tr><th>Text:</th>
    <td><%= f.text_area :body %></td></tr>
  </table>

  <div align=center><%= submit_tag("Post") %></div>
<% end %>

